
<div class="hero-unit">

<h2>This is the NK OMR Initial Project Home Page</h2>

	<p>
		<big>	
			Stay tuned for further awesome updates...
		</big>
	</p>
	
	<br>

	<p> Also check out our partner: 

		<%= link_to "Yahoo", "http://www.yahoo.com" %>

		<p> And <%= link_to "Signup", "#", class: "btn btn-primary btn-large" %> </p>


	</p>
</div>
