<%if user_signed_in? %>
	<h1> You're Logged In!</h1>
<% else %>
<div class="hero-unit">

<h2>Welcome to NK Enterprises, Inc.</h2>

	<p>
		<big>	
			<em> Stay tuned for further updates... </em>
		</big>
	</p>
	
	
	<p> Also check out our partner: 

		<%= link_to "Yahoo", "http://www.yahoo.com" %>

		<p>  <%= link_to "Signup", new_user_registration_path, class: "btn btn-primary btn-large" %> </p>


	</p>
</div>
<% end %>